.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px; // plus d’air comme sur ton image
  background: #0e0e0e;
}

/* LEFT */
.header__title {
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

/* RIGHT */
.header__right {
  display: flex;
  align-items: center;
  gap: 50px; // espace entre les menus
}

/* liens */
.header__right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}